.open-video{
    background-image: linear-gradient(360deg, #04598e, #0474CC) !important;
    border-radius: 15px;
    border:none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    font-weight: 600;
    width:70px;
}
.open-video:hover{
    background-image: linear-gradient(360deg, #0470b3, #048ff9) !important;
}
.video-modal{
    width: calc(100% - 10px) !important;
    max-width: 852px !important;
    aspect-ratio: 9/16 !important;
}
.video-modal .ant-modal-footer{
    display: none;
}
.video-modal .ant-modal-body{
    aspect-ratio: 16/9 !important;
    margin: 0 !important;
    padding: 0 !important;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
}
.video-modal-spin{
    position: absolute;
    aspect-ratio : 16/9 !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 2000;
}
.video-modal .ant-spin{
    color: #abe31f !important;
}
.video-modal .ant-spin-dot-item{
    background-color: #abe31f !important;
}
.videoplayer{
    aspect-ratio : 16/9 !important;
    margin: 0 !important;
    padding: 0 !important;
}